<div class="flex flex-col h-screen">
  <div class="bg-[rgb(20,15,99)] text-white p-4">
    <h1 class="text-2xl font-bold">Hitachi Sim Activation Portal</h1>
  </div>
  <div class="flex flex-1">
    <nav class="bg-[rgb(20,15,99)] text-white w-1/5 p-4 space-y-4">
      <ul>
        <li class="flex items-center space-x-2 py-2">
          <img src="assets/icons/customer.svg" alt="All Customer" class="w-6 h-6">
          <a routerLink="/all-customer" class="hover:underline">All Customer</a>
        </li>
        <li class="flex items-center space-x-2 py-2">
          <img src="assets/icons/sim.svg" alt="Validate Sim" class="w-6 h-6">
          <a routerLink="/validate-sim" class="hover:underline">Validate Sim</a>
        </li>
        <li class="flex items-center space-x-2 py-2">
          <img src="assets/icons/customer-validate.svg" alt="Validate Customer" class="w-6 h-6">
          <a routerLink="/validate-customer" class="hover:underline">Validate Customer</a>
        </li>
        <li class="flex items-center space-x-2 py-2">
          <img src="assets/icons/customer-details.svg" alt="Validate Customer Details" class="w-6 h-6">
          <a routerLink="/validate-customer-details" class="hover:underline">Validate Customer Details</a>
        </li>
        <li class="flex items-center space-x-2 py-2">
          <img src="assets/icons/id-proof.svg" alt="Validate ID Proof" class="w-6 h-6">
          <a routerLink="/validate-id-proof" class="hover:underline">Validate ID Proof</a>
        </li>
        <li class="flex items-center space-x-2 py-2">
          <img src="assets/icons/offers.svg" alt="Show Special Offers" class="w-6 h-6">
          <a routerLink="/special-offers" class="hover:underline">Show Special Offers</a>
        </li>
      </ul>
    </nav>
    <div class="flex-1 p-4">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
